# default capistrano tasks
load 'deploy'
load 'deploy/assets'

# the database.yml path
set :pg_config_path, File.expand_path(File.dirname(__FILE__), 'config')

# load the recipes
require 'capistrano-zen/utils'
require 'capistrano-zen/nginx'
require 'capistrano-zen/postgresql'
require 'capistrano-zen/rbenv'
require 'capistrano-zen/unicorn'

# Use Git as Version Control System
set :scm, :git
set :repository, "git@github.com:zenhacks/some_application.git"
set :branch, 'master'

# enable prompt for password
default_run_options[:pty] = true

# access github.com using as the local user
ssh_options[:forward_agent] = true

set :application, 'my_application'

set :domain, "domain.com"

server 'domain.com', :web, :app, :db, :primary => true

set :user, 'deploy'
set :group, 'deploy'
set :deploy_to, "/home/#{user}/repositories/#{application}-production"


## Deploy Dependencies
after "deploy:install",
  "nginx:install",
  "nodejs:install",
  "rbenv:install",
  "dev_lib:install",
  "pg:install"

after "deploy:setup",
  "nginx:setup",
  "pg:setup",
  "pg:init",
  "unicorn:setup"

after "deploy:finalize_update", "pg:symlink"
